@model HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<h1 class="text-danger">Przepraszamy, wystąpił nie oczekiwany błąd.</h1>
<h2 class="text-danger">Sprawdz czy wykonałeś wszytskei operacje zgodnie z instrukcją lub spróbuj ponownie później.</h2>

