
@{
    ViewBag.Title = "Wczytywanie pliku";
}

<h2>Wybierz plik</h2>

@using (Html.BeginForm("ReadAmplificationData", "ReadFile", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="file" id="dataFile" name="postedFile" />
    </div>

    <div class="form-group">
        <input type="submit" value="Wczytaj" class="btn btn-default" />
    </div>
}
