
@{
    ViewBag.Title = "Read CSV File";
}

@using (Html.BeginForm("ReadCsvAmplificationData", "ReadFile", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h4>Amplification Data CSV File</h4>
    <div class="form-group">
        <label for="dataFile" class="btn btn-default">
            <i class="glyphicon glyphicon-file"></i> Choice Data File
        </label>
        <input type="file" onchange="choiceDataFile(this)" id="dataFile" name="postedFile" style="display: none;" />
        <span id="dataFileInfo"></span>
    </div>
    <h4>File with miRname (optional)</h4>
    <div class="form-group">
        <label for="namesFile" class="btn btn-default">
            <i class="glyphicon glyphicon-file"></i> Choice Names File
        </label>
        <input type="file" onchange="choiceNamesFile(this)" id="namesFile" name="postedFileNames" style="display: none;" />
        <span id="namesFileInfo"></span>
    </div>
    <h4>Data first line (deafult first)</h4>
    <div class="form-group">
        @Html.TextBox("dataFirstLine", 1, new { @class = "form-control", type = "number", min = 1, style = "width: 162px;" })
    </div>
    <div class="form-group">
        <input type="submit" value="Load" class="btn btn-info" />
    </div>
}

<script>
    function choiceDataFile(e) {
        var name = e.value.split("\\");
        $("#dataFileInfo").text(name[name.length - 1]);
    }

    function choiceNamesFile(e) {
        var name = e.value.split("\\");
        $("#namesFileInfo").text(name[name.length - 1]);
    }
</script>