@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>If you would like to get in touch with me or have some questions, send e-mail.</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:lukaszkapciakup@gmail.com">lukaszkapciakup@gmail.com</a><br />
</address>