@{
    ViewBag.Title = "BioSite";
}

<div class="jumbotron">
    <h1>BioSite</h1>
    <p class="lead">Web application for real-time PCR data calculation.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Current functionality</h2>
    </div>
    <div class="col-md-4">
        <h3>Read Data</h3>
        <p>For now we can use StepOne xlsx file or 1sheep CSV file.</p>
    </div>
    <div class="col-md-4">
        <h3>Calculation</h3>
        <p>For now we can calculate Ct, ΔCt and meanCt for each tile and mean + std dev for whole data. Addition, you can recalculate data.</p>
    </div>
    <div class="col-md-4">
        <h3>Show data</h3>
        <p>For each tile we can see well name, miRname, ThresholdValue, Ct, ΔCt, meanCt and chart in expanding div where we can inputs for recalculation Ct</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Save data</h3>
        <p>Save data to CSV file</p>
    </div>
</div>
