@{
    ViewBag.Title = "BioSite";
}

<div style="background-image: url('../../Content/logo.png'); width: 1140px; height: 240px; border-radius: 10px;">
</div>

<div class="row">
    <div class="col-md-12">
        <h3><b>Current functionality</b></h3>
        <hr/>
    </div>
    <div class="col-md-4">
        <h3>Read Data</h3>
        <p>For now we can use StepOne xlsx file or 1sheep CSV file.</p>
    </div>
    <div class="col-md-4">
        <h3>Calculation</h3>
        <p>For now we can calculate Ct, ΔΔCt and RQ for each tile and mean + std dev for whole Ct's. Addition, you can recalculate data.</p>
    </div>
    <div class="col-md-4">
        <h3>Show data</h3>
        <p>For each tile we can see well name, miRname, ThresholdValue, Ct, ΔΔCt, RQ and chart in expanding div where we can inputs for recalculation Ct</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Save data</h3>
        <p>Save data to CSV file</p>
    </div>
</div>
